.queueListContainer {
  width: 100%;

  h3 {
    display: flex;
    justify-content: center;
    color: var(--text);
  }

  .userList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    margin: 5px;
    border-radius: 7px;

    &:nth-child(even) {
      background-color: var(--gray-10);
    }

    &:nth-child(odd) {
      background-color: var(--white);
    }

    &:hover {
      background-color: var(--gray);
    }

  }
}