.queueButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--text);

  button {
    text-decoration: none;
    outline: none;
    border: none;
    padding: .5rem 3rem;
    border-radius: 100px;
    background-color: var(--red);
    color: white;
    transition: .2s;
  
    &:hover {
      background-color: var(--dark-red);
    }
  
    &:active {
      transform: scale(0.97 );
    }
  
    &:disabled {
      background-color: var(--gray);
      cursor: not-allowed;
  
      &:active {
        transform: none;
      }
    }
  }
}